u begin SetEnvironmentInputs 0x0f0f5d44 0x3366a3ad 0x55728b55
#OR_NOT
u begin InjectSequence auyjxmhrmuyuqueryulydefsyursyjuuwytnffehycdxuxembeazerefrchcwzudvcijpkemtfmnwmvmsnxrzxsvhudvlcccgwak 1 10

#ORN_NOT
u begin InjectSequence fnwkwfifdrchcmiuezurvwfpyxdvbflvpqexvmbbxcqruoyqovyfuvxgmxofhzcpbqqhxycfmaevhwzcpqljizohkmsyczunmgyp 20 30

u 0:100:end PrintResourceData
#u 0:100:end DumpReactionGrid 
#u 0:100:end DumpOrgTaskGrid
u 0:100:end SavePopulation
u 1000 Exit